body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: #0f0f0f; /* luego puedes cambiar por una imagen */
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;   /* centra horizontal */
  align-items: center;       /* centra vertical */
  min-height: 100vh;
}

.container {
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #E63946;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #A8A29E;
  color: #1A1A1A;
}

a {
  display: inline-block;
  margin-top: 15px;
  color: #E63946;
  text-decoration: none;
}

a:hover {
  color: #A8A29E;
}
