body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-image: url("img/cinematic_dark_and_aggressive_high_.jpg"); /* tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

p {
  margin: 10px 0;
}

a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #E63946;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  background-color: #A8A29E;
  color: #1A1A1A;
}
  